%{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.
{deps, [
    {ejwt, ".*", {git, "https://github.com/artefactop/ejwt", {tag, "0.1.0"}}},
    {jsx, ".", {git, "https://github.com/talentdeficit/jsx.git", {tag, "2.8.0"}}}
]}.